.container {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Roboto','sans-serif';
    line-height: 1.5;
    background-color: #ffa5f0;
}
#myTable {
    border: 1px solid #ddd;
    width: 100%;
    font-size: 18px;
    border-collapse: collapse;
}
#myTable th, #myTable td {
    border: 1px solid #ddd;
    padding: 12px;
}